# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env
.env.local

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Miscellaneous
*.DS_Store
*.egg-info/
*.egg
*.pyo
*.pyd
